<html>
<head>
	<title>Log in </title>
	<link rel="stylesheet" type="text/css" href="design/css/style.css">
</head>
<body>	
	<form method="post">
		<div class="loginbox">
			<img src="design/loginhead.png" class="loginhead">
			<h1>Login </h1>		
			<label>E-Mail</label></br>
			<input type="email" name="user_email" placeholder="E-Mail" required=""></br>
			<label>Password</label></br>
			<input type="password" name="user_password" placeholder="Password" required=""></br>
			<input type="submit" name="login" value="Login"> 
		
		</div>
	</form>
</body>
</html>